rsc/lib
rsc/log
C_Chess
*core*
chess_server
obj
.vscode
windows/*.dll
windows/*.exe
windows/license
webasm/emsdk
webasm/rsc
rsc/*.txt
android/chess_app/.gradle
android/chess_app/apk_release/*.apk
android/chess_app/log
android/chess_app/app/build/
*.a
*.o